# Symlink the ondeck database.yml to database.yml.example
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_yarn_build.sh":
    mode: "000755"
    content: |
      #!/usr/bin/env bash

      . /opt/elasticbeanstalk/support/envvars

      set -xe

      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)

      cd $EB_APP_STAGING_DIR

      su -s /bin/bash -c "yarn install" $EB_APP_USER

      su -s /bin/bash -c "yarn build" $EB_APP_USER